In [10]:
import pandas as pd
import numpy as np
import re

In [34]:
df = pd.read_csv('../ukb41910.csv', encoding='cp936', nrows=100)

In [4]:
df = pd.read_json('../data/field_extraction/ukbb_self-report.json', encoding='utf-8')

In [6]:
per = df.iloc[0]

In [9]:
per['20002']

'1065.0&1220.0&1142.0'

In [5]:
for idx in range(df.shape[0]):
    per = df.iloc[idx]

    if re.search(r'1074', df['20001']):
        pass

    pass

        eid   20001                               20002
0   1000011                        1065.0&1220.0&1142.0
1   1000026                               1294.0&1138.0
2   1000032  1034.0  1075.0&1074.0&1081.0&1113.0&1138.0
3   1000044
4   1000058                               1065.0&1465.0
..      ...     ...                                 ...
95  1000962                                      1517.0
96  1000973
97  1000985                        1264.0&1226.0&1351.0
98  1000996
99  1001003  1003.0       1440.0&99999.0&1413.0&99999.0

[100 rows x 3 columns]