In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from PRS_models import *

In [3]:
# phenotype data loading
d_file = '../../data/features_selection/features_selection_data_dummy_data.txt'
d_info_file = '../../data/features_selection/features_selection_data_dummy_info.csv'
data = np.genfromtxt(d_file)
data_info = pd.read_csv(d_info_file, header=None, names=['Type', 'id', 'Description'])

In [13]:
data_info

            Type       id                                 Description
0    Categorical  20117_0                      Alcohol drinker status
1    Categorical  20117_1                      Alcohol drinker status
2    Categorical  20117_2                      Alcohol drinker status
3    Categorical   1558_1                   Alcohol intake frequency.
4    Categorical   1558_2                   Alcohol intake frequency.
..           ...      ...                                         ...
256  Categorical   3059_0                              Result ranking
257  Categorical   3059_1                              Result ranking
258  Categorical   3059_2                              Result ranking
259  Categorical   3090_0  Used an inhaler for chest within last hour
260  Categorical   3090_1  Used an inhaler for chest within last hour

[261 rows x 3 columns]

In [ ]:
numerical_phenotype_idx = []
classification_phenotype_idx = []
idx = 0
while idx < data_info.shape[0]:
    k = idx
    id = str.split(data_info.iloc[idx]['id'], sep='_')[0]
    if not data_info.iloc[idx]['Type'] == 'Categorical':
        numerical_phenotype_idx.append(idx)
    else:
        while k < data_info.shape[0]:
            if str.startswith(data_info.iloc[k]['id'], id):
                k += 1
        classification_phenotype_idx.append((idx, k+1))

In [14]:
data_info.iloc[1]['id']

'20117_1'